
<a n:href="default">Zpět</a>

{foreach $records as $record}
    <span>{$record->name}</span><br>
    <span>{$record->firstNumber}</span><br>
    <span>{$record->secondNumber}</span><br>
    <span>{$record->thirdNumber}</span><br>
{/foreach}